
#relative{
    background-color: rgb(81, 211, 168);
    margin: 0%;
    padding: 0%;
} 

body{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, #ce58de, #69a7f7);
}

.look{
    box-shadow: grey 0px 0px 6px;
    background-color: rgba(194, 241, 226 ,0.398);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 180px;
    padding-bottom: 20px;
    width: 200px;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    border: 2px;
    border-color: rgb(100, 97, 97);
    
}
.look input{
    border-radius: 5px;
    width: 350px;
    height: 25px;
    padding: 6px;
    
}
.btn{
    color: #ffffff;
    border-radius: 5px;
    border-color: transparent;
    padding: 7px 20px;
    background-color:  rgb(10, 132, 180);
}
.forgot{
    color: black;
    
}
.btn:hover{
    
    color: #ffffff;
    background-color: rgb(97, 240, 69);
}